@charset "utf-8";

blockquote,body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{
	margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing:0
}
fieldset,img{
	border:0
}
li{list-style:none
}
caption,th{
	text-align:left
}
q:after,q:before{
	content:''
}
abbr,acronym{
	border:0;
	font-variant:normal
}
sup{
	vertical-align:text-top
}
sub{
	vertical-align:text-bottom
}
legend{
	color:#666666
}
html{

}
body{
	font-family: "微软雅黑";
	color:#666;
	font-size: 12px;
}
a{
	color:#666666;
	text-decoration:none;
	font-family: "微软雅黑";
}
a:hover{
	text-decoration:none
}
h1,h2,h3,h4,h5,h6{
	font-family: "微软雅黑";
	color:#666666;
	-webkit-font-smoothing:antialiased
}
input[type=password]{
	font-family: "微软雅黑";
}
.container{
	padding-left:0;
	padding-right:0;
}
.clear{
	clear: both;
}
.margin-top20{
	margin-top:20px;
}
.margin-bottom30{
	margin-bottom:30px;
}
.padding-l-r{
	padding-left:0;
	padding-right: 0;
}

@media (min-width:1500px){.container{width:1500px}}
@media (max-width:767px){.col-sm-6{width:50%;}}


/*注册登录弹窗*/
/*@font-face {font-family: 'iconfont';
	src: url('../fonts/iconfont.eot'); !* IE9*!
	src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!
	url('../fonts/iconfont.woff') format('woff'), !* chrome、firefox *!
	url('../fonts/iconfont.ttf') format('truetype'), !* chrome、firefox、opera、Safari, Android, iOS 4.2+*!
	url('../fonts/iconfont.svg#iconfont') format('svg'); !* iOS 4.1- *!
}
.iconfont{
	font-family:"iconfont" !important;
	font-size:66px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 1px;
	-moz-osx-font-smoothing: grayscale;
}*/

@font-face {font-family: 'iconfont';
	src: url('../fonts/iconfont.eot'); /* IE9*/
	src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
	url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
	font-family:"iconfont" !important;
	font-size:66px;font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;}





.loginpage .login-xinlang-color{
	color: #09c216;
}
.loginpage .login-qq-color{
	color: #2a9cd5;
}
.loginpage .row h2{
	line-height: 20px;
	margin:20px auto 0;
	font-size: 14px;
}
.loginpage .row h3{
	line-height: 20px;
	margin:10px auto 20px;
	font-size: 14px;
}
.loginpage .container-fluid{
	padding-top: 20px;
	padding-bottom: 10px;
}
.loginpage a{
	color: #2a9cd5;
}
.loginpage .text-right{
	padding-right:20px;
	padding-top:15px;
}
.loginpage .btn-block{
	background: #2a9cd5;
	color: #fff;
}
.loginpage .glyphicon-menu-left{
	font-size: 26px;
	padding-left:20px;
}



/*头部背景导航*/
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header{
	margin-left:0;
	margin-right:0;
}
.header-banner{
	width:100%;
	height:520px;
	background-size:cover;
	background:100% 100%;
	position: relative;
}

.header-banner .navbar-nav li a{
	color: #e5e5e5;
	font-size:16px;
	margin-top:8px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background: none;
}
.navbar-inverse .nav>li>a:focus, .navbar-inverse .nav>li>a:hover{
	color: #fff;
	background:none;
}
.navbar-inverse{
	background: none;
	border:0;
}
.btn-success{
	background-color: #ae0500;
	border-color: #ae0500;
}
.btn-primary {
	margin-left:10px;


}
/*导航*/
.navbar-inverse:hover,.navbar-scroll-active,.navbar-white{
	background-color:#000;
	-webkit-box-shadow:0 0 40px rgba(0,0,0,.15);
	box-shadow:0 0 40px rgba(0,0,0,.15)
}
.navbar-inverse:hover .navbar-nav>li>a,.navbar-scroll-active .navbar-nav>li>a,.navbar-white .navbar-nav>li>a{
	color:#fff
}
.navbar-inverse:hover .navbar-nav>li>a:hover:after,.navbar-scroll-active .navbar-nav>li>a:hover:after,.navbar-white .navbar-nav>li>a:hover:after {
	background:#2fc261
}
.navbar-inverse:hover #sign-in,.navbar-scroll-active #sign-in,.navbar-white #sign-in{

	color:#fff
}
.navbar-inverse:hover #sign-in:hover,.navbar-scroll-active #sign-in:hover,.navbar-white #sign-in:hover{
	border-color:#2fc261
}
.navbar-inverse:hover #user-name,.navbar-scroll-active #user-name,.navbar-white #user-name{
	color:#5c6570
}
.navbar-inverse:hover #xs-list,.navbar-scroll-active #xs-list,.navbar-white #xs-list{
	background-color:#f8f8f8
}
.navbar-inverse:hover .icon-bar,.navbar-scroll-active .icon-bar,.navbar-white .icon-bar{
	background-color:#5c6570!important
}
.navbar-inverse:hover #white-logo,.navbar-scroll-active #white-logo,.navbar-white #white-logo{
	display:block!important
}
.navbar-inverse:hover #colorful-logo,.navbar-scroll-active #colorful-logo,.navbar-white #colorful-logo{
	display:inline-block!important
}
.navbar-inverse{
	-webkit-transition:all .3s;
	transition:all .3s;
	-webkit-transition-timing-function:ease-in-out;
	transition-timing-function:ease-in-out;
	border-bottom:1px solid transparent
}
.navbar-inverse #colorful-logo{
	display:none!important
}.navbar-inverse .product-list{
	 position:absolute;top:68px;
	 left:0;
	 right:0;
	 border-bottom:1px solid #e7e7e7;
	 width:100%;
	 height:240px;
	 background-color:rgba(255,255,255,.9);
	 -webkit-transition:all .3s;
	 transition:all .3s;
	 -webkit-transform:translateY(0);
	 -ms-transform:translateY(0);
	 transform:translateY(0);
	 opacity:1;
	 z-index:1
 }
.navbar-inverse .product-list .list-item{
	position:relative;
	width:25%;
	height:100%;
	float:left;
	text-align:center;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	-webkit-transition:all .3s;
	transition:all .3s
}
.navbar-inverse .product-list .list-item:hover{
	border-color:#e7e7e7;
	cursor:pointer;
	background-color:#FFF}
.navbar-inverse .product-list .list-item .item-icon{
	position:absolute;
	width:100px;
	height:100px;
	left:0;
	right:0;
	top:40px;
	margin:auto;
	-webkit-background-size:contain;
	background-size:contain
}
.navbar-inverse .product-list .list-item .name{
	color:#2fc261;
	margin-top:150px;
	font-weight:500;
	font-size:2rem
}
.navbar-inverse .product-list .list-item .name .slim{
	font-weight:200
}
.navbar-inverse .product-list .list-item .description{
	color:#8e97a2;
	font-size:1.3rem
}
.navbar-scroll-active{
	position:fixed
}
.navbar-scroll-active #colorful-logo{
	display:inline-block!important
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background-color: rgba(0,0,0,0);
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background-color: rgba(0,0,0,0);
}
.header-banner .navbar-nav ul li a{
	color: #666;
	font-size: 12px;
}
.header-banner .navbar-nav ul{
	margin-top:16px;
}
.header-banner .navbar-nav .dropdown{
	float:right;
	line-height: 32px;
}
.header-banner .navbar-nav .dropdown a.dropdown-toggle{
	color: #fff;
	font-size: 14px;
}
.header-banner .navbar-nav .denglutx{
	margin-right: 10px;
}
.head-user-vip{
	position: absolute;
	left: 5px;
	top: 15px;
}


/*合作伙伴*/
.Threepage .Threepage-c ul li{}
.Threepage .Threepage-c ul li a img{
	border-radius: 3px;
}



footer{
	background: #616161;
	padding:20px 0;
}
footer.row{
	margin-left:0;
	margin-right:0;
}
footer p{
	color: #fff;
	line-height: 30px;
}























